*{
    box-sizing: border-box;
}
body{
    background-color: #000;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px;
    z-index: 3;
}
header h1{
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    float: left;
    z-index: 0;
}
a{
    font-size: 16px;
    text-decoration: none;
}
.main-navigation{
    float: right;
}
/* 왜 얘네들은 hover하면 안되는가? */
.main-navigation a{
    color: white;
    margin-left: 40px;
    transition: 0.3s;
}
/* 나머지 3개는 안되고 btn ghost만 적용이 된다 */
.main-navigation a:hover{
    transform: scale(1.1);
}
.main-navigation a.active{
    font-weight: bold;
    border-bottom: 2px solid #004fff;
}
.btn{
    /* a태그는 기본적으로 속성이 display가 inline속성이다 (따라서 바꿔줘야함) */
    display: inline-block;
    color:#fff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 24px;
    background-color: #004fff;
    border: 1px solid #004fff;
    transition: 0.3s;
}
.btn:hover{
    background-color: #000;
    cursor: pointer;
}
.ghost-btn:hover{
    background-color: rgba(0,79,255,0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,79,255,0.6);
}
.ghost-btn{
    background-color: transparent;
    border: 1px solid #004fff;
}
.text-wrap{
    width: 520px;
    height: 100vh;
    padding: 240px 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    z-index: 1;
}
.text-wrap h2{
    color: #fff;
    font-size: 64px;
    line-height: 80px;
    font-weight: lighter;
    margin-bottom: 40px;
}
.text-wrap h3{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px
}
.text-wrap p{
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.video-wrap{
    position: relative;
    /* width: 100%; */
    width: calc( 100% - 520px );
}
.video-wrap video{
    position: absolute;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
}