name
{
    font-size:20px;
    font-weight:bold;
}
a{
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
}
/*2022-01-11 -----------------------------------------------------*/
button {
    width: 120px;
    height: 40px;
    background-color: #004fff;
    color:#fff;
    border:none;
    box-shadow: 0 4px 16px rgba(0,79,255,0.3);
    font-size:16px;
    font-weight:bold;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate
    (-50%,-50%);
    transition: 0.3s;
}
button:focus {
    outline:0;
}
/* 버튼에 올려놨을시의 액션을 보여줌 */
button:hover {
    background-color:
    /* rgb값과 투명도를 표시하는 rgba이다. */
    rgba(0,79,255,0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,79,255,0.6);
}
/*2022-01-12 -----------------------------------------------------*/
.container {
    text-align: center;
    margin-top:200px;
}
#card-pick{
    transform:scale(1.1);
}
#card-pick:hover {
    transform: scale(1.05);
}
.card-box {
    position: relative;
    border-radius: 8px;
    /* width:280px; */
    width:100%;
    max-width: 280px;
    height:360px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.26);
    overflow:hidden;
    display:inline-block;
    margin: 10px;
    transition:0.5s;
}
.card-box:hover {
    transform: scale(0.95);
}
.img-gradient {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    z-index: 1;
}
.text-wrap{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
    text-align:left;
}
.text-wrap h1{
    color:#fff;
    font-size:24px;
    margin-bottom:8px;
    font-weight:bold;
}
.text-wrap p{
    color:#fff;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}
.play-btn{
    width:60px;
    height:60px;
    position: absolute;
    right:24px;
    top:24px;
    /* png를 불러와 버튼을 만드는 방법: 아이콘이 마음에 안들어서 주석처리 함. */
    /* background: #fff url(img/icon-play.png) no-repeat center; */
    background-size: 24px;
    border-radius:50%;
    z-index:2;
}
/*2022-01-13*/
.center{
    position: absolute;
    left:50%;
    top:50%;
    width: auto;
    transform: translate(-50%,-50%);
}
.item-wrap{
    position: relative;
    border: 2px solid #004fff;
    border-radius: 6px;
    background: #ddd;
}
.item{
    /* margin은 겉에 있는 회색 간격을 얘기함 */
    margin:20px;
    /* padding은 하얀박스와 택스트 사이의 간격을 얘기함 */
    padding:20px;
    /* 여기서 border은 컨텐츠(box 01, box 02)의 태두리선을 얘기함 */
    border: 2px solid #004fff;
    width:120px;
    color:#222;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    transition:0.3s;
}
.item:hover{
    box-shadow: 0 6px 32px rgba(0,79,255,0.3);
}